.content > * {
  width: 100px;
  margin: 0 auto;
}

.bg-color-selector {
  width: 100px;
  height: 20px;
  padding: 0.2em;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}